.page--random-string

  .spaced-section
    .textfield__label Character Groups
    .item-row
      c-checkbox.item-row__item(
        *ngFor = "let group of characterGroups",
        [rxModel] = "group.selected",
        [label] = "group.name"
      )

  .spaced-section
    c-textfield(
      [rxModel] = "customCharacters",
      [multiline] = "true",
      [autosize] = "true",
      data-style = "pre",
      data-label = "Custom Characters",
      data-placeholder = "Add custom characters…"
    )

  .spaced-section
    c-textfield(
      [rxModel] = "characters.asObservable()",
      [readonly] = "true",
      [multiline] = "true",
      [autosize] = "true",
      data-style = "pre",
      data-label = "Combined Characters Pool"
    )

  .spaced-section
    c-textfield(
      [rxModel] = "outputLengthInput",
      [maxlength] = "5",
      data-label = "Output Length",
      data-size = "small"
      data-placeholder = "Set output length…"
    )

  .spaced-section
    c-checkbox(
      [rxModel] = "avoidRepetition",
      data-label = "Avoid repeating characters"
    )

  .spaced-section
    c-button(
      (click) = "generate()",
      data-icon = "dices",
      data-label = "Generate"
    )

  .spaced-section
    c-textfield(
      [rxModel] = "output.asObservable()",
      [readonly] = "true",
      [multiline] = "true",
      [autosize] = "true",
      data-label = "Output",
      data-style = "pre",
      data-placeholder = "Nothing to generate…"
    )
