$font-families: (
  'system': #{'-apple-system', 'system-ui', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'},
  'system-mono': #{SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace},
  'serif': #{Georgia, Cambria, "Times New Roman", Times, serif},
  'sans': #{"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif}
);

$line-height: (
  default: 1.5,
);

$colors: (

  white:              #ffffff,
  pinball:            #d4d4d4,
  gray:               #808080,
  boltgun-metal:      #393939,
  wax:                #2e2e2e,
  young-night:        #232323,
  black:              #000000,

  solar-power:        #f8c444,
  dynamic-green:      #abdf47,
  turquoise-sea:      #61dbec,
  shiva-blue:         #99dbfe,
  krishna-blue:       #01abfd,
  rockman-blue:       #41a2f3,
  genestealer-purple: #7b60af,
  tomato:             #ef4026,

);

$terminal-colors: (
  black:    color(wax),
  red:      color(tomato),
  green:    color(dynamic-green),
  yellow:   color(solar-power),
  blue:     color(rockman-blue),
  magenta:  color(genestealer-purple),
  cyan:     color(turquoise-sea),
  white:    color(white),
);

