$font-families: (
  system: #{'-apple-system', 'system-ui', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'},
  system-mono: #{SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace},
  times: #{Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif},
  georgia: #{Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif},
  lucida: #{"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif},
  garamond: #{"Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif},
);

$line-height: (
  default: 1.5,
);

$colors: (

  white:              #ffffff,
  pale-gray:          #fdfdfe,
  lotion:             #fefdfa,
  glacial-ice:        #eae9e7,
  cold-morning:       #e6e5e4,
  jupiter:            #e1e1e2,
  pinball:            #d4d4d4,
  winter-morn:        #d9d9d6,
  pale-dull:          #adadad,
  codex-gray:         #9c9c9c,
  nickel:             #929292,
  gray:               #808080,
  steel-wool:         #777777,
  bank-vault:         #757473,
  onyx:               #464544,
  boltgun-metal:      #393939,
  wax:                #2e2e2e,
  young-night:        #232323,
  black:              #000000,

  solar-power:        #f8c444,
  dynamic-green:      #abdf47,
  turquoise-sea:      #61dbec,
  shiva-blue:         #99dbfe,
  krishna-blue:       #01abfd,
  rockman-blue:       #41a2f3,
  vanadyl-blue:       #00a3e0,
  code-blue:          #007acc,
  royal-navy-blue:    #0066cc,
  genestealer-purple: #7b60af,
  tomato:             #ef4026,

);

$terminal-colors: (
  black:    color(wax),
  red:      color(tomato),
  green:    color(dynamic-green),
  yellow:   color(solar-power),
  blue:     color(rockman-blue),
  magenta:  color(genestealer-purple),
  cyan:     color(turquoise-sea),
  white:    color(white),
);
