.selector

  label.selector__label(
    v-if = "label",
    :for = "id"
  ) {{ label }}

  select.selector__select(
    v-bind = "$attrs",
    @input = "$emit('change', $event.target.value)",
    :value = "value",
    :readonly = "readonly"
  )
    option.selector__option(
      v-for = "(choiceValue, choiceLabel) in choices",
      :key = "choiceValue",
      :value = "choiceValue"
    ) {{ typeof choiceLabel == 'string' ? choiceLabel : choiceValue }}
