.page--hash

  .page-section

    textfield#input(
      v-model = "input",
      label = "Input",
      placeholder = "Place your data here…",
      multiline = true
    )

  .page-section

    selector#algorithm(
      v-model = "algorithm",
      label = "Algorithm",
      :choices = "algorithms"
    )

  .page-section

    selector#encoding(
      v-model = "encoding",
      label = "Encoding",
      :choices = "encodings"
    )

  .page-section

    textfield#output(
      v-model = "output",
      label = "Output",
      placeholder = "Nothing to hash…",
      readonly = true,
      multiline = true
    )
