+iconSymbol("secure", 511)
  path(fill="#89BBE4", d="M272.7 1.82l163.37 35.02a30.57 30.57 0 0 1 24.17 29.9v196.45c0 127.83-114 209.22-188.07 244.08a39.12 39.12 0 0 1-33.34 0C164.77 472.41 50.76 391.02 50.76 263.2V66.72a30.57 30.57 0 0 1 24.17-29.89L238.3 1.82a82.07 82.07 0 0 1 34.4 0z")
  path(fill="#145587", d="M391.83 76.92L272.05 51.24a78.91 78.91 0 0 0-33.1 0L119.19 76.92a25.25 25.25 0 0 0-19.96 24.68V117c0-11.9 8.32-22.19 19.96-24.68l119.78-25.68a78.91 78.91 0 0 1 33.08 0l119.79 25.68A25.25 25.25 0 0 1 411.78 117v-15.4c0-11.9-8.31-22.19-19.95-24.68z", opacity=".15")
  path(fill="#1F84CE", d="M391.83 76.92L272.05 51.24a78.85 78.85 0 0 0-33.1 0L119.19 76.92a25.25 25.25 0 0 0-19.96 24.68v161.59c0 47.29 20.54 91.67 61.04 131.93 28.21 28.03 59.6 47.82 83.5 60.45a25.12 25.12 0 0 0 23.5 0c23.9-12.63 55.27-32.42 83.48-60.45 40.5-40.26 61.04-84.64 61.04-131.94V101.6c0-11.9-8.31-22.19-19.95-24.68z")
  path(fill="#FFF", d="M322.12 222.13h-32.16v-38.57a34.5 34.5 0 0 0-34.46-34.46 34.5 34.5 0 0 0-34.46 34.46v38.57h-32.16v-38.57a66.7 66.7 0 0 1 66.62-66.62 66.7 66.7 0 0 1 66.62 66.62v38.57z")
  path(fill="#145587", d="M188.88 191.35h32.16v30.78h-32.16zM289.95 191.35h32.16v30.78h-32.16z", opacity=".3")
  path(fill="#F9C526", d="M328.86 202.96H182.14a9.34 9.34 0 0 0-9.34 9.34v108.75a9.34 9.34 0 0 0 9.34 9.33h146.72a9.34 9.34 0 0 0 9.34-9.33V212.3a9.34 9.34 0 0 0-9.34-9.34z")
  path(fill="#384148", d="M275.62 244.84c0-11.3-9.32-20.43-20.7-20.11a20.2 20.2 0 0 0-19.5 18.94 20.07 20.07 0 0 0 6.92 16.38c1 .86 1.5 2.15 1.35 3.46l-3.15 26.38a5.12 5.12 0 0 0 5.08 5.73h19.76a5.12 5.12 0 0 0 5.08-5.73l-3.14-26.38c-.16-1.31.35-2.6 1.35-3.47a20.06 20.06 0 0 0 6.95-15.2z")
  path(d="M254.92 224.73a20.2 20.2 0 0 0-19.18 23.88 20.23 20.23 0 0 1 19.18-16.34 20.12 20.12 0 0 1 20.34 16.34 20.12 20.12 0 0 0-20.34-23.88z", opacity=".2")
