+iconSymbol("twitter", 256, 209)
  path(fill="#55acee", d="M256 25.45c-9.42 4.18-19.54 7-30.17 8.27a52.68 52.68 0 0 0 23.1-29.06 105.18 105.18 0 0 1-33.35 12.75 52.52 52.52 0 0 0-89.5 47.9A149.1 149.1 0 0 1 17.82 10.44a52.27 52.27 0 0 0-7.11 26.4 52.5 52.5 0 0 0 23.37 43.72 52.31 52.31 0 0 1-23.8-6.57v.66a52.55 52.55 0 0 0 42.13 51.5 52.6 52.6 0 0 1-23.72.9 52.57 52.57 0 0 0 49.07 36.47A105.38 105.38 0 0 1 12.53 186c-4.24 0-8.42-.24-12.53-.73a148.66 148.66 0 0 0 80.51 23.6c96.6 0 149.43-80.03 149.43-149.44 0-2.27-.05-4.54-.15-6.8A106.75 106.75 0 0 0 256 25.46")
