$theme-dark: (

  background: color(young-night),
  color: color(pinball),
  color-secondary: color(gray),
  link: color(vanadyl-blue),

  textfield: (
    background: color(boltgun-metal),
    color: color(glacial-ice),
    color-readonly: color(codex-gray),
    placeholder: color(steel-wool),
  ),

  button: (
    background: color(pinball),
    color: color(young-night),
  ),

  select: (
    background: color(boltgun-metal),
    color: color(glacial-ice),
    ui-color: color(steel-wool),
  ),

  checkbox: (
    check-color: color(pinball),
    background: color(boltgun-metal),
  ),

  site-loading-bar: (
    height: (4rem / 16),
    inner-center-width: 40%,
    color: color(vanadyl-blue),
  ),

);
