$theme-default: (

  background: color(young-night),
  color: color(pinball),
  color-secondary: color(gray),
  link: color(krishna-blue),

  textfield: (
    background: color(boltgun-metal),
    color: color(white),
  ),

  button: (
    background: color(pale-dull),
    color: color(black),
  ),

);
