$theme-default: (

  color: (
    background: color(young-night),
    text: color(pinball),
    text-secondary: color(gray),
    link: color(krishna-blue),

    textfield: (
      background: color(boltgun-metal),
      text: color(white)
    )

  ),

);
