@import './theme-default';

$theme-light: (

  background: color(lotion),
  color: color(onyx),
  color-secondary: color(codex-gray),
  link: color(royal-navy-blue),

  textfield: (
    background: color(cold-morning),
    color: color(young-night),
    color-readonly: color(bank-vault),
    placeholder: color(codex-gray),
  ),

  button: (
    background: color(smoked-pearl),
    color: color(lotion),
  ),

  select: (
    background: color(cold-morning),
    color: color(young-night),
    ui-color: color(codex-gray),
  ),

  checkbox: (
    check-color: color(onyx),
    background: color(cold-morning),
  ),

  site-loading-bar: (
    height: (3rem / 16),
    inner-center-width: 10%,
    color: color(button-blue),
  ),

);

$theme-light: map-deep-merge($theme-default, $theme-light);
