.page--color-namer

  .page-section
    c-color-input(
      (color) = "colorDataSubject.next($event)"
    )

  .page-section

    c-spoiler(label = "More Options", openedLabel = "Less Options")

      .item-row

        c-select.item-row__item(
          [(ngModel)] = "colorMetric",
          [choices] = "colorMetricChoices",
          label = "Color Distance Metric"
        )

        c-select.item-row__item(
          [(ngModel)] = "colorNameFormat",
          [choices] = "colorNameFormatChoices",
          label = "Color Name Format"
        )

        c-select.item-row__item(
          [(ngModel)] = "colorValueFormat",
          [choices] = "colorValueFormatChoices",
          label = "Color Value Format"
        )

  .page-section

    .headline.
      Closest {{ maxClosestColors }} Colors of
      {{ closestNamedColorsService.namedColors.length | number }}
      from #[a(href = "https://www.npmjs.com/package/color-name-list") List]:

    .closest-colors
      c-named-color(
        *ngFor = "let color of (closestColors | async).slice(0, maxClosestColors)",
        [color] = "color",
        [compareColor] = "colorData",
        [compareMetric] = "colorMetric",
        [colorNameFormat] = "colorNameFormat",
        [colorValueFormat] = "colorValueFormat"
      )

  .page-section
    p Read more about #[a(href = "https://en.wikipedia.org/wiki/Color_difference") color difference].
