.page--color-namer

  .page-section
    c-color-input(
      (color) = "colorDataSubject.next($event)"
    )

  .page-section
    c-select(
      [(ngModel)] = "colorMetric",
      [choices] = "colorMetricChoices",
      label = "Closest Colors by Metric:"
    )

  .page-section

    .closest-colors
      c-named-color(
        *ngFor = "let color of (closestColors | async).slice(0, 25)",
        [color] = "color",
        [compareColor] = "colorData",
        [compareMetric] = "colorMetric"
      )

  .page-section
    p https://en.wikipedia.org/wiki/Color_difference
