.page--hash

  .page-section

    c-textfield#input(
      [(ngModel)] = "input",
      label = "Input",
      placeholder = "Place your data here…",
      multiline = true
    )

  .page-section

    c-select#algorithm(
      [(ngModel)] = "algorithm",
      [choices] = "algorithms",
      label = "Algorithm"
    )

  .page-section

    c-select#encoding(
      [(ngModel)] = "encoding",
      [choices] = "encodings",
      label = "Encoding"
    )

  .page-section

    c-textfield#output(
      [(ngModel)] = "output",
      label = "Output",
      placeholder = "Nothing to hash…",
      readonly = true,
      multiline = true
    )
