.site-menu

  .site-menu__bar

    .site-menu__bar-item(*ngFor = "let item of menuItems")
      a([routerLink]="item.link") {{ item.label }}

  .site-menu__bar

    .site-menu__bar-item
      c-theme-switch
