.icon

  ng-container(*ngIf = "name === 'octocat'")
    include icons/octocat.svg

  ng-container(*ngIf = "name === 'npm'")
    include icons/npm.svg

  ng-container(*ngIf = "name === 'dices'")
    include icons/dices.svg

  ng-container(*ngIf = "name === 'sun'")
    include icons/sun.svg

  ng-container(*ngIf = "name === 'pantone'")
    include icons/pantone.svg

  ng-container(*ngIf = "name === 'double-angle'")
    include icons/double-angle.svg
