.named-color(*ngIf = "color")

  .named-color__display(
    [class.has-compare-color] = "compareMode"
  )
    .named-color__compare-color(
        *ngIf = "compareMode",
        [ngStyle] = "{'background-color': compareColor.hex}"
      )
    .named-color__color(
        [ngStyle] = "{'background-color': color.data.hex}"
      )

  .named-color__details

    .named-color__name {{ color.name }}

    ng-container([ngSwitch] = "colorNameFormat")
      .named-color__formatted-name(
        *ngSwitchCase = "'camelCase'"
      ) {{ color.name | camelCase }}
      .named-color__formatted-name(
        *ngSwitchCase = "'pascalCase'"
      ) {{ color.name | pascalCase }}
      .named-color__formatted-name(
        *ngSwitchCase = "'snakeCase'"
      ) {{ color.name | snakeCase }}
      .named-color__formatted-name(
        *ngSwitchDefault
      ) {{ color.name | kebabCase }}

    ng-container([ngSwitch] = "colorValueFormat")
      .named-color__formatted-value(
        *ngSwitchCase = "'rgb'"
      ) {{ color.data.color.string() }}
      .named-color__formatted-value(
        *ngSwitchDefault
      ) {{ color.data.hex | lowercase }}

    .named-color__distance(
      *ngIf = "compareMode"
    ) Δ {{ colorDistance | number:'1.3-3' }}
