mixin textfield()
  textarea(
    class = "textfield__textarea",
    *ngIf = "multiline"
  )&attributes(attributes)
  input(
    type = "text",
    class = "textfield__input",
    *ngIf = "!multiline",
    [maxlength] = "maxlength"
  )&attributes(attributes)

.textfield([ngClass] = "classList")

  label.textfield__label(
    *ngIf = "label",
    [for] = "id"
  ) {{ label }}

  +textfield()(
    #textfield,
    [(ngModel)] = "value",
    [id] = "id",
    [placeholder] = "placeholder",
    [readonly] = "readonly",
    [attr.autocomplete] = "autocomplete ? 'on' : 'off'",
    [attr.autocorrect] = "autocorrect ? 'on' : 'off'",
    [attr.autocapitalize] = "autocapitalize ? 'on' : 'off'"
  )
