.page--hash

  .page-section

    c-textfield(
      [(ngModel)] = "input",
      [multiline] = "true",
      label = "Input",
      placeholder = "Paste your data here…"
    )

  .page-section

    .item-row

      c-select.item-row__item(
        [(ngModel)] = "algorithm",
        [choices] = "algorithms",
        label = "Algorithm"
      )

      c-select.item-row__item(
        [(ngModel)] = "encoding",
        [choices] = "encodings",
        label = "Encoding"
      )

  .page-section

    c-textfield(
      [ngModel] = "output",
      [readonly] = "true",
      [multiline] = "true",
      label = "Output",
      placeholder = "Nothing to hash…"
    )
