.page--hash

  .spaced-section
    c-textfield(
      [rxModel] = "input",
      [multiline] = "true",
      [autosize] = "true",
      data-label = "Input",
      data-placeholder = "Paste your data here…"
    )

  .spaced-section
    c-checkbox(
      [rxModel] = "saltEnabled",
      data-label = "add Salt"
    )

    c-roller([expanded] = "saltEnabled | async")

      .spaced-section.is-follow-up
        c-textfield(
          [rxModel] = "salt",
          [multiline] = "true",
          [autosize] = "true",
          data-label = "Salt",
          data-placeholder = "Add some salt…"
        )

      .spaced-section
        .item-row
          c-select.item-row__item(
            [rxModel] = "saltPosition",
            [choices] = "saltPositionChoices",
            data-label = "Position"
          )
          c-textfield.item-row__item(
            [rxModel] = "saltSeparator",
            data-size = "tiny",
            data-label = "Separator"
          )

      .spaced-section
        c-textfield(
          [rxModel] = "hashContent.asObservable()",
          [readonly] = "true",
          [multiline] = "true",
          [autosize] = "true",
          data-label = "Input with Salt",
          data-placeholder = "Nothing to display…"
        )

  .spaced-section
    .item-row
      c-select.item-row__item(
        [rxModel] = "algorithm",
        [choices] = "algorithms",
        data-label = "Algorithm"
      )
      c-select.item-row__item(
        [rxModel] = "encoding",
        [choices] = "encodings",
        data-label = "Encoding"
      )

  .spaced-section
    c-textfield(
      [rxModel] = "output",
      [readonly] = "true",
      [multiline] = "true",
      [autosize] = "true",
      data-label = "Output",
      data-placeholder = "Nothing to hash…"
    )
