.page--hash

  .page-section

    c-textfield(
      [(ngModel)] = "input",
      [multiline] = "true",
      [autosize] = "true",
      label = "Input",
      placeholder = "Paste your data here…"
    )

  .page-section

    c-spoiler(
      (change) = "onChangeDisplaySaltOptions($event)"
      label = "Salt disabled",
      openedLabel = "Salt enabled"
    )

      .page-section

        c-textfield(
          [(ngModel)] = "salt",
          [multiline] = "true",
          [autosize] = "true",
          label = "Salt",
          placeholder = "Add some salt…"
        )

      .page-section

        .item-row

          c-select.item-row__item(
            [(ngModel)] = "saltPosition",
            [choices] = "saltPositionChoices",
            label = "Position"
          )

          c-textfield.item-row__item(
            [(ngModel)] = "saltSeparator",
            size = "tiny",
            label = "Separator"
          )

      .page-section

        c-textfield(
          [ngModel] = "inputWithSalt",
          [readonly] = "true",
          [multiline] = "true",
          [autosize] = "true",
          label = "Input with Salt",
          placeholder = "Nothing to display…"
        )

  .page-section

    .item-row

      c-select.item-row__item(
        [(ngModel)] = "algorithm",
        [choices] = "algorithms",
        label = "Algorithm"
      )

      c-select.item-row__item(
        [(ngModel)] = "encoding",
        [choices] = "encodings",
        label = "Encoding"
      )

  .page-section

    c-textfield(
      [ngModel] = "output",
      [readonly] = "true",
      [multiline] = "true",
      [autosize] = "true",
      label = "Output",
      placeholder = "Nothing to hash…"
    )
