.page--hash

  .page-section

    c-textfield(
      [(ngModel)] = "input",
      [multiline] = "true",
      label = "Input",
      placeholder = "Place your data here…"
    )

  .page-section

    c-select(
      [(ngModel)] = "algorithm",
      [choices] = "algorithms",
      label = "Algorithm"
    )

  .page-section

    c-select(
      [(ngModel)] = "encoding",
      [choices] = "encodings",
      label = "Encoding"
    )

  .page-section

    c-textfield(
      [ngModel] = "output",
      [readonly] = "true",
      [multiline] = "true",
      label = "Output",
      placeholder = "Nothing to hash…"
    )
