.page--hash

  .spaced-section

    c-textfield(
      [rxModel] = "input",
      [multiline] = "true",
      [autosize] = "true",
      label = "Input",
      placeholder = "Paste your data here…"
    )

  .spaced-section

    c-checkbox(
      [rxModel] = "saltEnabled",
      label = "add Salt"
    )

    c-roller([expanded] = "saltEnabled | async")

      .spaced-section.is-follow-up

        c-textfield(
          [rxModel] = "salt",
          [multiline] = "true",
          [autosize] = "true",
          label = "Salt",
          placeholder = "Add some salt…"
        )

      .spaced-section

        .item-row

          c-select.item-row__item(
            [rxModel] = "saltPosition",
            [choices] = "saltPositionChoices",
            label = "Position"
          )

          c-textfield.item-row__item(
            [rxModel] = "saltSeparator",
            size = "tiny",
            label = "Separator"
          )

      .spaced-section

        c-textfield(
          [rxModel] = "hashContent.asObservable()",
          [readonly] = "true",
          [multiline] = "true",
          [autosize] = "true",
          label = "Input with Salt",
          placeholder = "Nothing to display…"
        )

  .spaced-section

    .item-row

      c-select.item-row__item(
        [rxModel] = "algorithm",
        [choices] = "algorithms",
        label = "Algorithm"
      )

      c-select.item-row__item(
        [rxModel] = "encoding",
        [choices] = "encodings",
        label = "Encoding"
      )

  .spaced-section

    c-textfield(
      [rxModel] = "output",
      [readonly] = "true",
      [multiline] = "true",
      [autosize] = "true",
      label = "Output",
      placeholder = "Nothing to hash…"
    )
