mixin button()
  ng-container(*ngIf = "(link || href); then linkTag; else buttonTag")
  ng-template(#linkTag = "")
    a(
      [href] = "href",
      [routerLink] = "link"
    )&attributes(attributes)
      block
  ng-template(#buttonTag = "")
    button()&attributes(attributes)
      block


+button().button(
  (click) = "onClick($event)",
  [ngClass] = "classList",
  [title] = "title"
)

  .button__icon(*ngIf = "icon")
    c-icon([name] = "icon")

  .button__label(*ngIf = "label") {{ label }}
