.select

  label.select__label(
    *ngIf = "label",
    [for] = "id"
  ) {{ label }}

  select.select__select(
    [(ngModel)] = "value",
    [id] = "id"
  )
    option.select__option(
      *ngFor = "let choice of choices; trackBy: choicesTrackBy",
      [value] = "choice.value"
    ) {{ choice.label }}
