.select

  label.select__label(
    *ngIf = "label",
    [for] = "id"
  ) {{ label }}

  .select__select-wrap

    select.select__select(
      [(ngModel)] = "value",
      [id] = "id"
    )
      option(
        *ngFor = "let choice of choices; trackBy: choicesTrackBy",
        [value] = "choice.value"
      ) {{ choice.label }}
