.selector

  label.selector__label(
    *ngIf = "label",
    [for] = "id"
  ) {{ label }}

  select.selector__select(
    [(ngModel)] = "value",
    [id] = "id"
  )
    option.selector__option(
      *ngFor = "let choice of choices",
      [value] = "choice.value || choice"
    ) {{ choice.label || choice }}
