mixin textfield(element)
  - var multiline = element === 'textarea';
  #{element}(
    class = `textfield__${element}`,
    ref = "input",
    v-if = `${multiline ? '' : '!'}multiline`,
    v-bind = "$attrs",
    v-on = "listeners",
    :value = "value",
    :id = "id || false",
    :placeholder = "placeholder || false",
    :readonly = "readonly || false",
    :autocomplete = "typeof autocomplete === 'string' ? autocomplete : \
      (typeof autocomplete === 'boolean' ? (autocorrect ? 'on' : 'off') : false)",
    :autocorrect = "typeof autocorrect === 'string' ? autocorrect : \
      (typeof autocorrect === 'boolean' ? (autocorrect ? 'on' : 'off') : false)",
    :autocapitalize = "typeof autocapitalize === 'string' ? autocapitalize : \
      (typeof autocapitalize === 'boolean' ? (autocapitalize ? 'on' : 'off') : false)"
  )

.textfield(
  :class = "classNames"
)

  label.textfield__label(
    v-if = "label",
    :for = "id || false"
  ) {{ label }}

  +textfield('input')
  +textfield('textarea')
