body {

  @include themify {
    background: themed(background);
    color: themed(color);
  }

}

a {
  text-decoration: none;

  @include themify {
    color: themed(link);
  }

}

button {
  padding: 0;
  border: none;
  border-radius: 0;
  background: transparent;
  color: inherit;

  &:focus {
    outline: none;
  }

}
