body {

  @include themify() {
    background: themed(color, background);
    color: themed(color, text);
  }

}

a {
  text-decoration: none;

  @include themify() {
    color: themed(color, link);
  }

}
