.closest-colors {

}

.closest-color {
  display: flex;

  // &:not(:first-child) {
  //   margin-top: 2px;
  // }

  &__display {
    display: flex;
    flex: 0 0 auto;
    width: 8em;

    @include mq('mobile-landscape') {
      width: 12em;
    }

    @include mq('>=tablet') {
      width: 16em;
    }

  }

  &__compare-color,
  &__color {
    @include aspect-ratio(1);
    flex: 0 0 auto;

    @include mq('>=tablet') {
      width: 50%;
    }

  }

  &__compare-color {
    width: 40%;
  }

  &__color {
    width: 60%;
  }

  &__details {
    align-self: center;
    padding: .4em .6em;
    line-height: _($line-height, default);
  }

  &__name {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: .125em;
  }

  &__name,
  &__kebab-case,
  &__hex,
  &__rgb {
    white-space: nowrap;
  }

  &__kebab-case,
  &__hex,
  &__rgb {
    @extend %font-family--system-mono;
  }

  &__distance {
    font-size: .75em;

    @include themify {
      color: themed(color, text-secondary);
    }

  }

}
