.named-color {
  display: flex;

  :first-child > & > &__display {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  :last-child > & > &__display {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }


  &__display {
    display: flex;
    flex: 0 0 auto;
    width: 4em;
    overflow: hidden;

    &.has-compare-color {
      width: 8em;
    }

    @include mq('mobile-landscape') {
      width: 6em;

      &.has-compare-color {
        width: 12em;
      }

    }

    @include mq('>=tablet') {
      width: 8em;

      &.has-compare-color {
        width: 16em;
      }

    }

  }

  &__compare-color,
  &__color {
    @include aspect-ratio(1);
    flex: 0 0 auto;

    @include mq('>=tablet') {
      width: 50%;
    }

  }

  &__compare-color {
    width: 40%;
  }

  &__color {
    width: 60%;
  }

  &__details {
    padding: .4em .6em;
  }

  &__name {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: .125em;
  }

  &__name,
  &__kebab-case,
  &__hex,
  &__rgb,
  &__distance {
    line-height: _($line-height, default);
    white-space: nowrap;
  }

  &__kebab-case,
  &__hex,
  &__rgb {
    @extend %font-family--mono;
  }

  &__distance {
    @extend %font-size--small;

    @include themify {
      color: themed(color, text-secondary);
    }

  }

}
