.select {
  $padding: .4em .6em;

  display: inline-block;

  &__label {
    @extend %font-size--small;
    display: block;
    margin-bottom: .25em;
    line-height: _($line-height, default);
  }

  &__select-wrap {
    position: relative;
    display: block;

    &::before,
    &::after {
      content: '';
      position: absolute;
      right: nth($padding, 2);
      border-width: .3em .2em;
      border-style: solid;
      border-color: transparent;

      @include themify {
        color: themed(select, ui-color);
      }

    }

    &::before {
      bottom: 50%;
      margin-bottom: .0625em;
      border-bottom-color: currentColor;
      border-top-width: 0;
    }

    &::after {
      top: 50%;
      margin-top: .0625em;
      border-top-color: currentColor;
      border-bottom-width: 0;
    }

  }

  &__select {
    @include text-ellipsis;
    appearance: none;
    display: block;
    width: 100%;
    height: (nth($padding, 1) * 2 + _($line-height, default) * 1em);
    padding: nth($padding, 1) (nth($padding, 2) + 1) nth($padding, 1) nth($padding, 2);
    border-radius: 2px;
    border: none;
    line-height: 1.15;
    cursor: pointer;

    @include themify {
      background: themed(select, background);
      color: themed(select, color);
    }

    &:focus {
      outline: none;
    }

  }

  &__option {
    line-height: 1.15;
  }

}
