.spoiler {
  $root: &;

  &__header {
    display: flex;
  }

  &__toggle {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    cursor: pointer;

    #{$root}:not(.is-open) &::after {
      @extend %text-color--secondary, %font-size--small;
      content: '[…]';
    }

  }

  &__icon,
  &__label {
    flex: 0 0 auto;
  }

  &__icon {
    width: 1em;
    transform: rotate(90deg) rotate3d(0, 0, 0, 180deg);
    transition: transform .4s ease;

    #{$root}.is-open & {
      transform: rotate(90deg) rotate3d(0, .5, 0, 180deg);
    }

    path {
      fill: currentColor;
    }

  }

  &__label {
    padding: 0 .25em;
    line-height: _($line-height, default);
  }

  &__content {
    padding: 1em 0;
  }

}
