.textfield {
  $line-height: 1.5;
  $padding-x: .6em;
  $padding-y: .4em;
  $background: white;
  $border-width: 2px;
  $border-radius: 4px;
  $rows: 3;
  $min-rows: 1;
  $max-rows: 8;

  @function textfield-height($rows: 1) {
    @return calc(#{2 * $padding-y + $line-height * $rows} + #{$border-width * 2});
  }

  &__label {
    display: block;
    line-height: 1.5;
    margin-bottom: .25em;
  }

  &__input,
  &__textarea {
    display: block;
    width: 100%;
    padding: $padding-y $padding-x;
    line-height: $line-height;
    background: $background;
    border: $border-width solid _($colors, 'alto');
    border-radius: $border-radius;
    outline: none;
  }

  &__textarea {
    min-width: 100%;
    max-width: 100%;
    height: textfield-height($rows);
    min-height: textfield-height($min-rows);
    max-height: textfield-height($max-rows);
  }

}
