.textfield {
  $line-height: 1.5;
  $padding-x: .6em;
  $padding-y: .4em;
  $border-radius: 2px;
  $rows: 3;
  $min-rows: 1;
  $max-rows: 8;

  @function textfield-height($rows: 1) {
    @return #{2 * $padding-y + $line-height * $rows};
  }

  &__label {
    @extend %font-size--small;
    display: block;
    margin-bottom: .25em;
    line-height: 1.5;
  }

  &__input,
  &__textarea {
    display: block;
    width: 100%;
    padding: $padding-y $padding-x;
    line-height: $line-height;
    border: none;
    border-radius: $border-radius;
    outline: none;

    @include themify {
      background: themed(textfield, background);
      color: themed(textfield, color);
    }
  }

  &__textarea {
    min-width: 100%;
    max-width: 100%;
    height: textfield-height($rows);
    min-height: textfield-height($min-rows);
    max-height: textfield-height($max-rows);
  }

}
