%font-family--sans {
  font-family: map-get($font-families, system);
}

%font-family--mono {
  font-family: map-get($font-families, system-mono);
}

%font-size--too-tiny {
  font-size: (10/16 * 1em);
}

%font-size--tiny {
  font-size: (12/16 * 1em);
}

%font-size--small {
  font-size: (14/16 * 1em);
}

html {
  font-size: 16px;

  @include mq-min(768) {
    font-size: 18px;
  }

  @include mq-min(1280) {
    font-size: 20px;
  }

}

body {
  @extend %font-family--sans;
  text-rendering: optimizeLegibility;
}

small {
  @extend %font-size--small;
}
